@model IEnumerable<LearningMS.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    LearningMS.DATA.LearningMSEntities db = new LearningMS.DATA.LearningMSEntities();

}

<h2>Index</h2>

@if (Request.IsAuthenticated && User.IsInRole("HR Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            <p>Annual Progress</p>
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @{var completions = db.CourseCompletions.Where(cc => cc.UserId == item.Id).ToList();
                    var done = 0m;
                    if (completions.Count() > 5)
                    {
                        done = 5m;
                    }
                    else
                    {
                        done = completions.Count();
                    }
                }
                @if (done < 5)
                {
                    <p>@done of 5</p>
                }
                else
                {
                    <p style="font-weight:bold">Completed</p>
                }
            </td>
            <td>
                @if (Request.IsAuthenticated && User.IsInRole("HR Admin"))
                {
                    <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |</span>
                }
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @if (Request.IsAuthenticated && User.IsInRole("HR Admin"))
                {
                    <span>| @Html.ActionLink("Delete", "Delete", new { id = item.Id })</span>
                }

            </td>
        </tr>
    }

</table>
