@model LearningMS.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Your Profile";
}

@*<div style="background-color:dimgray">*@
    <div class="container" >
        <h1>@ViewBag.Title</h1>
        <br />
        <div class="row">
            <div class="col-md-6">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="row">
                    <div class="col-md-8 " style="border-right: 1px solid black">
                        
                        <img src="~/imgstore/users/@Model.Photo" alt="@Model.Email" title="@Model.Email" width="100%"/>
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h5>@Model.Email</h5>

                        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId })

                        @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                                                                                            : Html.ActionLink("Pick a password", "SetPassword"))


                    </div>
                </div>
            </div>
            
            <div class="col-md-6" style="vertical-align:central">
                Courses Completed for @DateTime.Now.Year
                @if (ViewBag.Done == 0)
                {
                    <div class="progress-bar" data-percent="1" data-duration="1000" data-color="#ccc,yellow"></div>
                }
                else
                {
                    <div class="progress-bar" data-percent="@((ViewBag.Done/5)*100)" data-duration="1000" data-color="#ccc,yellow">

                    </div>
                }

            </div>
                <h5>@ViewBag.Done/5</h5>
                <br />
                <br />
                <button class="btn btn-primary"><a href="@Url.Action("Index","Courses")"> Go To Courses</a></button>
                
            </div>
        </div>
    </div>
</div>
