@model LearningMS.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Your Profile";
}

@*<div style="background-color:dimgray">*@
    <div class="container" >
        <h1>@ViewBag.Title</h1>
        <br />
        <div class="row">
            <div class="col-md-6">
                <p class="text-success">@ViewBag.StatusMessage</p>
                <div class="row">
                    <div class="col-md-8">
                        
                        <img src="~/imgstore/users/@Model.Photo" alt="@Model.Email" title="@Model.Email" width="100%"/>
                        <h2>@Model.FirstName @Model.LastName</h2>
                        <h5>@Model.Email</h5>

                        @Html.ActionLink("Edit", "Edit", new { id = Model.UserId })

                        @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                                                                                            : Html.ActionLink("Pick a password", "SetPassword"))


                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/Images/bigol.jpg" width="60%"/>
            </div>
        </div>
    </div>
</div>
