<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Vanguardchives</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/lightbox.css">
    <link rel="stylesheet" href="~/vendor/jquery/jQuery-plugin-progressbar.css" />
    <!--

    TemplateMo 557 Grad School

    https://templatemo.com/tm-557-grad-school

    -->
</head>

<body>


    <!--header-->
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="@Url.Action("Index","Home")"><em>Vanguard</em>chives</a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li><a href="@Url.Action("About","Home")">About Us</a></li>
                <li><a href="@Url.Action("Index","Courses")">Courses</a></li>
                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                @if (Request.IsAuthenticated)
                {

                    if (User.IsInRole("Manager") || User.IsInRole("HR Admin"))
                    {
                        <li><a href="@Url.Action("Index", "Lessons")">Lessons</a></li>
                        <li><a href="@Url.Action("Index", "UsersAdmin")">Users</a></li>

                    }
                    if (User.IsInRole("HR Admin"))
                    {
                        <li><a href="@Url.Action("Index", "LessonViews")">Completed Lessons</a></li>
                        <li><a href="@Url.Action("Index", "CourseCompletions")">Completed Courses</a></li>
                    }
                }
                @Html.Partial("_LoginPartial")
            </ul>
        </nav>
    </header>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="central">@RenderBody();</div>
    <!-- ***** Main Banner Area End ***** -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <i class="fa fa-copyright"></i> Copyright @DateTime.Now.Year by Ryan Palmer

                        | Design: <a href="https://templatemo.com" rel="sponsored" target="_parent">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    <!-- Scripts -->

    @RenderSection("scripts", false)
    <!-- Bootstrap core JavaScript -->
    @*<script src="~/vendor/jquery/jquery.min.js"></script>*@
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/assets/js/isotope.min.js"></script>
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/video.js"></script>
    <script src="~/assets/js/slick-slider.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="~/vendor/jquery/jQuery-plugin-progressbar.js"></script>

    <script>
        $(function () {
            $('.main-menu li').each(
                function () {
                    if ($(this).find('a').attr('href') == window.location.pathname) {
                        $(this).addClass('active');
                    }
                }
            )
        });
    </script>
    <script>
        $(".progress-bar").loading();

    </script>
    @*<script>
            //according to loftblog tut
            $('.nav li:first').addClass('active');

            var showSection = function showSection(section, isAnimate) {
              var
              direction = section.replace(/#/, ''),
              reqSection = $('.section').filter('[data-section="' + direction + '"]'),
              reqSectionPos = reqSection.offset().top - 0;

              if (isAnimate) {
                $('body, html').animate({
                  scrollTop: reqSectionPos },
                800);
              } else {
                $('body, html').scrollTop(reqSectionPos);
              }

            };

            var checkSection = function checkSection() {
              $('.section').each(function () {
                var
                $this = $(this),
                topEdge = $this.offset().top - 80,
                bottomEdge = topEdge + $this.height(),
                wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                  var
                  currentId = $this.data('section'),
                  reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                  reqLink.closest('li').addClass('active').
                  siblings().removeClass('active');
                }
              });
            };

            $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
              if($(e.target).hasClass('external')) {
                return;
              }
              e.preventDefault();
              $('#menu').removeClass('active');
              showSection($(this).attr('href'), true);
            });

            $(window).scroll(function () {
              checkSection();
            });
        </script>*@
</body>
</html>