@using Microsoft.AspNet.Identity

@using LearningMS.DATA

@if (Request.IsAuthenticated)
{
    LearningMSEntities db = new LearningMSEntities();

    string userId = User.Identity.GetUserId();

    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userId).FirstOrDefault();
    string userFN = User.Identity.GetUserName();

    if (currentUser != null)
    {
        userFN = currentUser.FirstName;
    }

        <li><a href="@Url.Action("Index", "Manage")">Hey @userFN</a></li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </li>

    
}
else
{

    <li >
        <a  href="@Url.Action("Register", "Account")">Register</a>
    </li>
    <li >
        <a  href="@Url.Action("Login", "Account")">Log in</a>
    </li>

}
