@model LearningMS.DATA.Lesson



<div class="container">
    <h1>@Html.DisplayFor(model => model.LessonTitle)</h1>
    <h4>@Html.DisplayFor(model => model.Cours.CourseName)</h4>
    <p>@Html.DisplayFor(model => model.Introduction)</p>

    <hr />
    <br />

    @if (Model.VideoURL != null)
    {
        if (Model.PdfFilename != null)
        {
            <div class="row">
                <div class="col-md-6" style="border-right: 1px solid black">
                    <h6>Lesson Video</h6>
                    <iframe class="lessonVideo" id="ytplayer" type="text/html" width="100%" height="360" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6">
                    <h6>Lesson PDF</h6>
                    <object data="~/pdfstore/lessons/@Model.PdfFilename" type="application/pdf" width="100%" height="500">
                        alt : <a href="~/pdfstore/lessons/@Model.PdfFilename">Pdf File</a>
                    </object>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-12 text-center">
                    <h6>Lesson Video</h6>
                    <iframe id="ytplayer" type="text/html" width="640" height="360" src="@Model.VideoURL" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        }

    }
    else if (Model.PdfFilename != null)
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <h6>Lesson PDF</h6>
                <object data="~/pdfstore/lessons/@Model.PdfFilename" type="application/pdf" width="100%" height="1000">
                    alt : <a href="~/pdfstore/lessons/@Model.PdfFilename">Pdf File</a>
                </object>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>No content to show</h5>
            </div>
        </div>
    }
    <hr />
    <br />
    <h6>
        @Html.ActionLink("Edit", "Edit", new { id = Model.LessonId }) |
        @Html.ActionLink("Back to Course", "Details", "Courses", new { id = Model.CourseId }, null)
    </h6>
</div>
