@model IEnumerable<LearningMS.DATA.Lesson>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LessonTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Introduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdfFilename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LessonPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cours.CourseName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LessonTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfFilename)
            </td>
            <td>
                <img src="~/imgstore/lessons/@item.LessonPhoto" alt="@item.LessonTitle" title="@item.LessonTitle" width="100%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cours.CourseName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LessonId })
                @if (Request.IsAuthenticated && User.IsInRole("HR Admin"))
                {
                <span>| @Html.ActionLink("Delete", "Delete", new { id = item.LessonId })</span>
                                }
            </td>
        </tr>
    }

</table>
