@model IEnumerable<LearningMS.DATA.Course>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Index</h2>
    <button class="btn btn-primary">
        <a href="@Url.Action("CoursesGrid","Courses")">
            Grid View
        </a>
    </button>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <h3>Active Courses</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        <img src="~/imgstore/courses/@item.CoursePhoto" alt="@item.CourseName" title="@item.CoursePhoto" width="30%" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseId })
                        @if (Request.IsAuthenticated && User.IsInRole("HR Admin"))
                        {
                            <span>| @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })</span>
                        }
                    </td>
                </tr>

            }

        }
    </table>
    <br />
    <hr />
    <br />
    <h3>Inactive Courses</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.IsActive == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseDescription)
                    </td>
                    <td>
                        <img src="~/imgstore/courses/@item.CoursePhoto" alt="@item.CourseName" title="@item.CoursePhoto" width="30%" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CourseId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseId })
                    </td>
                </tr>

            }
        }
    </table>
</div>