@model IEnumerable<LearningMS.DATA.Lesson>


<br />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>@ViewBag.Title</h1>
            <p>@ViewBag.Description</p>
        </div>

        <div class="col-md-6" style="text-align:right">
            @if (ViewBag.Completion == true)
            {
                <h5 style="color: green">Completed</h5>
            }
            else
            {
                <h5 style="color: red">Not Completed</h5>
            }
        </div>
    </div>
    <hr />
    <br />
    <div>
        <section id="weaponGrid">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-4 student">
                        <a href="@Url.Action("Details", "Lessons", new {id = item.LessonId})" class="course-img">
                            <div class="product-item">

                                <div class="buffer"><img src="~/imgstore/lessons/@item.LessonPhoto" alt="@item.LessonTitle" width="100%" /></div>

                                <div class="down-content">
                                    <h4>@item.LessonTitle</h4>
                                    <p>@item.Introduction</p>
                                    @if (item.Completion == true)
                                    {
                                        <span style="color: green">Completed</span>
                                    }
                                    else
                                    {
                                        <span style="color: red">Not Completed</span>
                                    }

                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </section>
    </div>
    <p>

        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
