@model IEnumerable<LearningMS.DATA.Course>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Courses</h2>
    <button class="btn btn-primary">
        <a href="@Url.Action("CoursesGrid","Courses")">
            Grid View
        </a>
    </button>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseDescription)
            </th>
            <th>
                Lessons
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoursePhoto)
            </th>
            <th>Progress</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>@item.Lessons.Count()</td>
                <td>
                    <img src="~/imgstore/courses/@item.CoursePhoto" alt="@item.CourseName" title="@item.CoursePhoto" width="30%" />
                </td>
                <td>
                    @if (item.Completion == true)
                    {
                        <span style="color: green">Completed</span>
                    }
                    else
                    {
                        <span style="color: red">Not Completed</span>
                    }
                </td>
                <td>
                    <button class="btn btn-primary">
                        <a href="@Url.Action("Details","Courses", new { id = item.CourseId })">
                            @if (item.Completion == false)
                            {
                                <span>Start Course</span>
                            }
                            else
                            {
                                <span>Redo Course</span>
                            }
                        </a>
                    </button>
                </td>
            </tr>

        }

    </table>
</div>
